<!doctype html>
<html lang="en">
<head>
  <title>HTML Document Template</title>
  <style>
    p {
      font-family: Arial;
    }
  </style>
</head>
<body>
  <p>{{ inventory_hostname }}</p>
  <script>
    console.log(document.querySelector('p').textContent);
  </script>
</body>
</html>